/* ヘッダー固定*/
nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10000;
}

/* pタグのデフォルトサイズを18pxとする */
p{
    font-size: 18px;
}
.top-img {
    background-image: url(../img/sky-family.jpeg);
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    /* ｙ軸でも中央寄せする */
    display: flex;
    justify-content: center;
    align-items: center;

}

.top-img h1 {
    text-align: center;
}

/*サイト紹介部分のCSSです*/
#about-us {
    /* ジャンプ時のずれ修正 */
    margin-top: -56px;
    padding-top: 56px;
    /* 上との余白 ジャンプ位置の関係でパディングで設定しています*/
    padding-top: 156px;
}
#about-us p{
    font-size: 16px;
}
#about-us h4{
    text-align: center;

}
.us-contents{
    margin-top: 80px;
}
.us-text{
    margin: auto;
}

.us-img {
    width: 100%;
}

/* 掲示板部分のCSS */
#forum {
    /* ジャンプ時のずれ修正 */
    margin-top: -56px;
    padding-top: 56px;
   /* 上との余白 ジャンプ位置の関係でパディングで設定しています*/
   padding-top: 156px;
    /* display: flex;
    justify-content: center; */
}

#forum h3 {
    text-align: center;
}
.forum-button{
     display:flex;
     justify-content: space-around; 
     margin-top: 80px;    
}
.forum-button div{
    box-sizing: content-box;
    width: 22%;
}
/* 掲示版ボタンの装飾 */
.button img {
     width: 100%;
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
}

.button img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.button img:active {
    position: relative;
    top: 3px;
}


/* イベント */
#event {
     /* ジャンプ時のずれ修正 */
     margin-top: -56px;
     padding-top: 56px;
      /* 上との余白 ジャンプ位置の関係でパディングで設定しています*/
      padding-top: 156px;
    
}

#event h3 {
    text-align: center;
}
#event .collapsible{
    margin-top: 80px;
}


/* おすすめ部分 */
.recommend{
     /* ジャンプ時のずれ修正 */
     margin-top: -56px;
     padding-top: 56px;
     /* 上との余白 ジャンプ位置の関係でパディングで設定しています*/
     padding-top: 156px;
}
.recommend h3{
    margin-top: 120px;
    text-align: center;
}
.choice{
    display: inline-block;
    margin: 20px;

}
#movie{
    text-align: center;
    margin-top: -56px;
    padding-top: 56px;
}

#youtube{
    text-align: center;
    margin-top: -56px;
    padding-top: 56px;
    /* 上のコンテンツとのマージン */
    padding-top: 116px;
}

#books{
    margin-top: -56px;
    padding-top: 56px;
    /* 上のコンテンツとのマージン */
    padding-top: 130px;
    /* いい感じのところにジャンプさせたいが為の余白 */
    margin: 54px;
    }
    .select_book{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

    }


/* 絵本ボタンの装飾 */
.books_img{
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
     0 2px 2px rgba(0, 0, 0, 0.12),
     0 4px 4px rgba(0, 0, 0, 0.12),
     0 8px 8px rgba(0, 0, 0, 0.12),
     0 16px 16px rgba(0, 0, 0, 0.12);
}
.books_img:hover{
    opacity: 0.5;
    cursor: pointer;
}
.books_img:active {
    position: relative;
    top: 3px;
}

.books_headline{
    text-align: center;
}

/* 記事部分 */

#article{
    /* ヘッダーずれ分 */
    margin-top: -56px;
    padding-top: 56px;
     /* 上との余白 ジャンプ位置の関係でパディングで設定しています*/
    padding-top: 156px;
    margin:40px;
    /* ヘッダーとの隙間 */
    margin-bottom: 80px;
}

.select_article{
 display: flex;
 justify-content: space-around;
}

.article_headline{
    text-align: center;
}
  


/* 記事ボタンの装飾 */
.article_img{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}
.article_img:hover{
    opacity: 0.5;
    cursor: pointer;
}
.article_img:active{
    position: relative;
    top: 3px;
}


footer{
    display: flex;
}

/* ログアウトページ */
.logout{
    background-image: url(../img/green-heart.jpg);
    background-color: rgba(238, 255, 254, 0.123);
    background-blend-mode: lighten;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.logout h1 p{
     height: 100vh;
     width: 100vw;
     position: relative;
}


/* 404ページ */
.img404{
    background-image: url(../img/balloon.jpg);
    background-color: rgba(255, 254, 192, 0.4);
    background-blend-mode: lighten;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.img404_text{
    position:absolute;
    margin-top: 56px;
    color: white;
}

/* ログイン失敗ページ */
.failed_login{
    background-image: url(../img/rainbow.jpg);
    background-color: rgba(252, 246, 238, 0.2);
    background-blend-mode: lighten;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.failed_text{
    position:absolute;
    margin-top: 64px;
    color: white;
}
.failed_text a{
    display: inline-block;
    height: 30px;
}



/* rules.htmlに適用 */
.rules_margin {
    width: 70%;
    border: 0.5rem outset pink;
    outline: 0.5rem solid khaki;
    box-shadow: 0 0 0 2rem skyblue;
    border-radius: 12px;
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    margin-left: 15%;
    border-top:10%;
}

.reg_but {
    width: 20%;
    margin-left: 30%;
    box-shadow: 0 0 0 1px black;
    border-radius: 1px;
}

.rul_end {
    text-align: right;
}

ul.r {
    padding: 0;
  }
  
  ul.r > li {
    color: #404040;
    border-left: solid 6px #1fa67a;/*左側の線*/
    border-bottom: solid 2px #dadada;/*下に灰色線*/
    background: whitesmoke;
    margin-bottom: 5px;/*下のバーとの余白*/
    line-height: 1.5;
    padding: 0.5em;
    list-style-type: none!important;/*ポチ消す*/
    font-weight: bold;
  }

  /* bbsに適用 */
