/* ヘッダー固定*/
nav{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10000;
}
.top-img{
   background-image:url(../img/sky-family.jpeg); 
   background-size: cover;
   opacity: 0.8;
   height: 100vh;
   width: 100vw;
   /* ｙ軸でも中央寄せする */
   display: flex;
   justify-content: center;
   align-items: center;
}
.top-img h1{
    text-align: center; 
}
.ubout-us{
    
}
.us-img{
    height: 50%;
    width: 50%;
}