/* ヘッダー固定*/
nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10000;
}


.top-img {
    background-image: url(../img/sky-family.jpeg);
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    /* ｙ軸でも中央寄せする */
    display: flex;
    justify-content: center;
    align-items: center;

}

.top-img h1 {
    text-align: center;
}

/*サイト紹介部分のCSSです*/
#about-us {
    margin-top: 60px;
    /* margin-top: -64px;
    padding-top: 64px; */
}

.us-img {
    width: 100%;
}

/* 掲示板部分のCSS */
#forum {
    margin-top: 120px;
    /* ページ移動のずれ修正用 */
    /* margin-top: -64px;
    padding-top: 64px; */
}

#forum h3 {
    text-align: center;
}

.borad{
     position: relative;
     overflow: hidden;
     padding-top: 60%;
}
#forum img{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   height: 100%;
   object-fit: cover;
    
}

/* 出会うボタンの処理 */
.partner-button {
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.3);
    transition: .3s;
}

.partner-button:hover {
    opacity: 0.5;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.partner-button:active {
    position: relative;
    top: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

/* 妊活ボタンの処理 */
.pregnant-button {
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.3);
    transition: .3s;
}

.pregnant-button:hover {
    opacity: 0.5;
    cursor: pointer;

}
.pregnant-button:active {
    position: relative;
    top: 3px;
}

/* 子育てボタンの処理 */
.parenting-button {
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.3);
    transition: .3s;
}

.parenting-button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.parenting-button:active {
    position: relative;
    top: 3px;
}

/* イベント */
#event {
    margin-top: 120px;
}

#event h3 {
    text-align: center;
}

.collapsible {
    margin: auto;
}

/* おすすめ部分 */
#recommend {
    /* margin-top: -64px;
    padding-top: 64px; */
}

#recommend h3 {
    margin-top: 120px;
    text-align: center;
}

.choice_movie {
    display: inline-block;
    margin: 20px;
}

.choice_youtube {
    display: inline-block;
    margin: 20px;

