<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/img/nijinotane_img.png" sizes="16x16">
    <title>にじ の たね</title>
    <!-- マテリアライズのcss読みこみ -->
    <link rel="stylesheet" href="../static/css/materialize.css">
    <!-- cssファイル2つ目です（マテリアライズで調整が難しいところはここを適用させています）。以降stye.cssと表記 -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- jQueryの読み込み -->
    <script src="../static/js/jquery-3.5.0.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/common.js"></script>
    <!-- マテリアライズ（アイコン使用のため）の読み込み -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <!-- ログイン前のヘッダー -->
    <ul id="dropdown2" class="dropdown-content">
        <li><a href="#movie">映画</a></li>
        <li><a href="#youtube">YouTube</a></li>
        <li><a href="#book">絵本</a></li>
        <li><a href="#article">記事</a></li>
    </ul>
    <!-- ヘッダー -->
    <!-- ヘッダーの固定は、style.cssで指定しています -->
    <nav>
        <div class="nav-wrapper pink lighten-4">
            <a href="../static/img/nijinotane_img.png" class="brand-logo">にじ の たね</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">このサイトについて</a></li>
                <li><a href="/">イベント</a></li>
                <li><a class="dropdown-trigger" href="" data-target="dropdown2">おすすめ<i
                            class=" material-icons right">arrow_drop_down</i></a></li>
                <li><a href="/rules">ログイン/新規登録</a></li>
                <!-- <li><a href="/mypage">マイページ</a></li>
                <li><a href="/logout">ログアウト</a></li> -->
            </ul>
            <!-- pythonが入る部分↓↓ -->
            {% block content %}
            {% endblock%}
            <!-- python修了 -->

        </div>
    </nav>
</body>
</html>