<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/materialize.css">
    <!-- cssファイル2つ目です（マテリアライズで調整が難しいところはここを適用させています）。以降CSS２と表記 -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <!--▼▼トップページ埋め込み時はここから以下をコピーして任意の場所に貼り付けてください（html部は編集可）▼▼-->
    <div id="newsWrap">
        <ul id="newsList">


            <li id="postID_72" class="cat-0 clearfix">
                <span class="up_ymd">2020/03/26（木)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=72')">３月４月コーヒーアワー中止のお知らせ</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span
                        class="comment">いつもご支援、ご協力をありがとうございます。３月２９日４月２６日に開催を予定しておりました、コーヒーアワー交流会ですがコロナウィルスによります感染拡大予防のため、残念ながら中止とさせていただきます。５月にはイベント予定もございますのでご理解のほどどうぞよろしくお願いいたします。</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_71" class="cat-0 clearfix">
                <span class="up_ymd">2020/01/26（日)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=71')">みんなで学ぼう！上映会&amp;コーヒーアワー</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span
                        class="comment">みんなで学ぼう！上映会&amp;コーヒーアワー家庭の中の人権　カラフル映画上映会＋お茶会＜日時＞２０２０年２月２３日（日）＜場所＞徳島市蔵本町２丁目１１番地ダイバーシティビル３階　（デイサービスセンター心笑　併設内）１３：３０集合１３：４５〜１４：１５　人権啓発ビデオ上映会テーマ他人の噂子どもの就職子どもの結婚LGBT多様性を認めるカラフルな社会へ１４：１５〜１５：３０　コーヒーアワーお茶会１５：３０ー...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_70" class="cat-0 clearfix">
                <span class="up_ymd">2019/12/29（日)</span>
                <span class="catName">お知らせ</span><span class="title"><a href="./pkobo_news/upload/70-0link_file.png"
                        target="_blank">新年イベント　餅つき</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span
                        class="comment">餅つき&amp;映画上映会日時：２０２０年１月１２日＜スケジュール＞１３：００　餅つきなど１３：３０　上映会（アナと雪の女王１）１６：００　解散　＜場所＞蔵本町２丁目１１番地ダイバーシティビル３階デイサービスセンター心笑内＜参加費＞中学生以下：無料　※おもち１個つき高校生以上：５００円　※おもち１個月付き＜主催＞非営利型一般社団法人日本LGBT協会＜申し込み＞・不要ですどしどしご参加ください</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_69" class="cat-0 clearfix">
                <span class="up_ymd">2019/12/29（日)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=69')">2020年　コーヒーアワーのお知らせ</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span
                        class="comment">【２０２０年間イベント】コーヒーアワースケジュール&nbsp;２０２０年のコーヒーアワーは毎月（日）を予定しております。日時：毎月末（予定）　基本的には１３：３０〜実施します。場所：徳島市蔵本町２丁目１１　ダイバーシティビル３階目的：当事者、家族、支援者の交流や情報共有、理解を深める。【年間スケジュール】１月　２６　日（日）１３：３０〜２月２３　日（日）１３：３０〜３月２９　日（日）１３：３０〜４月...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_68" class="cat-0 clearfix">
                <span class="up_ymd">2019/11/21（木)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=68')">12月クリスマスイベントin東京について</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span
                        class="comment">いつもお世話になっております。クリスマスイベントin東京についてLGBT協会も啓発・交流活動に参加いたしますのでご案内させていただきます。日：12月２２日（日）時間：１５：００-１８：００参加費：一律3500円　軽食・１ドリンク・クリスマスケーキあり内容：講演、color披露、その他クリスマス音楽鑑賞、交流目的：当事者、家族、アライの皆様との交流、情報交換、啓発活動住所：東京都荒川区日暮里６-６０-９場所：日暮里s...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_67" class="cat-0 clearfix">
                <span class="up_ymd">2019/11/21（木)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=67')">11月のコーヒーアワーお休み</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span
                        class="comment">いつもご支援・ご協力をいただきまして誠にありがとうございます。11月24日（日）に予定しておりましたコーヒーアワーですが今月はお休みをいただき、来月12月29日　13:30〜２時間程度徳島市蔵本町２丁目１１番地　ダイバーシティビル３階にて開催させていただきます。オンラインでのご参加は1週間前までにご連絡をいただく必要があります。会員：無料　非会員：１０００円寒くなってまいりましたが、お体にお気をつけてお過ご...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_66" class="cat-0 clearfix">
                <span class="up_ymd">2019/10/20（日)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="https://i.kobe-np.co.jp/news/tanba/201910/0012784108.shtml"
                        target="_parent">新聞掲載　性的少数者（ＬＧＢＴ）について理解を深める講演会</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span class="comment">神戸新聞
                        ホーム地域丹波青垣小でＬＧＢＴ講演会　過去の体験語り理解呼び掛け自身の体験を交え、性的少数者への理解を訴える清水展人性的少数者（ＬＧＢＴ）について理解を深める講演会幼い頃から心と体の性の不一致に悩み、葛藤してきた日本ＬＧＢＴ協会代表理事の清水展人さん（３４）＝徳島市＝が「性には男と女以外にもいろいろある。近くにいるかもしれない悩んでいる人たちに温かい気持ちを持って」と呼び掛けた。</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_65" class="cat-0 clearfix">
                <span class="up_ymd">2019/10/20（日)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="http://www.jikkyo.co.jp/download/detail/53/9992658931"
                        target="_parent">家庭科資料　多様な性の学習　掲載</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/65-0s.png?5eca69725ae30" width="100"
                            class="thumbNail" id="thumb_65"></span>
                    <span class="comment">性的マイノリティについて～学校現場で求められる多様な性の学習～Update：2019-09-25
                        &nbsp;&nbsp;&nbsp;ダウンロードファイル形式：pdf
                        （1.37MB）家庭科資料63号（性的マイノリティについて～学校現場で求められる多様な性の学習～）&nbsp;&nbsp;非営利型一般社団法人日本LGBT協会　代表理事　清水
                        展人が掲載されました。誤字カタカナソジーク→ソジエスクダウンロード可能です。どうぞ各種教育機関をはじめご活用ください。</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_64" class="cat-0 clearfix">
                <span class="up_ymd">2019/07/28（日)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=64')">８月のコーヒーアワー日程変更のお知らせ</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span
                        class="comment">８月のコーヒーアワー日程変更のお知らせ８月２５日に１３：３０〜予定していましたコーヒーアワーですが８月１８日（日曜日）１３：３０〜場所：徳島市蔵本町２丁目１１番地　ダイバーシティビル３階　　　　非営利型一般社団法人　日本LGBT協会　（デーサービスセンター心笑併設）全国、オンライン参加も可能です　。（会員に限る）お問い合わせは：hiroto.simizu1010@gmail.comまで８月１８日（日曜日）１３：３０〜お待ちし...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_63" class="cat-0 clearfix">
                <span class="up_ymd">2019/06/24（月)</span>
                <span class="catName">お知らせ</span><span class="title"><a href="./pkobo_news/upload/63-0link_file.png"
                        target="_blank">ダイバーシティ推進マガジンに代表理事、清水のインタビューが掲載されました。</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span
                        class="comment">【ダイバーシティ推進マガジン】2019vol9でインタビューと記事を書かせて頂きました。【認め合う個性、認め合う未来】【性と生の多様性】テーマ：女らしく、男らしくより、自分らしく働ける社会へ　清水展人</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_62" class="cat-0 clearfix">
                <span class="up_ymd">2019/06/24（月)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=62')">６月３０日当事者・家族の会</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span class="comment">【年間イベント】コーヒーアワースケジュール
                        in徳島６月のコーヒーアワーは３０日（日）を予定しております。日時：毎月末（予定）　基本的には１３：３０〜実施します。場所：徳島市蔵本町２丁目１１　ダイバーシティビル３階目的：当事者、家族、支援者の交流や情報共有、理解を深める。【年間スケジュール】６月３０日７月２８日８月２５日９月２９日１０月２７日【参加費】会員（正会員・賛助会員・学生会員・法人会員）：...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_61" class="cat-0 clearfix">
                <span class="up_ymd">2019/04/28（日)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=61')">2019年８月キャンプのお知らせ</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span
                        class="comment">2019　三好市キャンプのお知らせ目的：自然の中で交流を深める。　　　情報交換。普段喋りづらいことも話ができるように。日程：2019年８月３日・４日内容８月３日１２：００　徳島駅前　ホテルクレメントホテル前　赤いポスト１５：００　キャンプ地到着、自己紹介、寝床決め、布団準備１５：３０　竹割り、竹細工、１７：００　流しそうめん準備、夜ごはん１８：００　片付け１８：３０　星空観察１９：３０　花火２０：００...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_60" class="cat-0 clearfix">
                <span class="up_ymd">2019/04/28（日)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=60')">５月交流会（当事者・家族・支援者の方々）のお知らせ</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span class="comment">【年間】コーヒーアワースケジュール
                        in　徳島/オンライン（会員様のみ）日時：毎月末（予定）　基本的には１３：３０〜実施します。場所：徳島市蔵本町２丁目１１　ダイバーシティビル３階目的：当事者、家族、支援者の交流や情報共有、理解を深める。【年間スケジュール】１月２７日　ご参加いただきありがとうございました。２月２４日　ご参加いただきありがとうございました。３月２４日　ご参加いただきありがとうござい...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_59" class="cat-0 clearfix">
                <span class="up_ymd">2019/02/24（日)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=59')">2019キャンプのお知らせ。募集開始!</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span
                        class="comment">2019三好市キャンプのお知らせ目的：自然の中で交流を深める。　　　情報交換。普段喋りづらいことも話ができるように。日程：2019年８月３日・４日内容８月３日１２：００　徳島駅前　ホテルクレメントホテル前　赤いポスト１５：００　キャンプ地到着、自己紹介、寝床決め、布団準備１５：３０　竹割り、竹細工、１７：００　流しそうめん準備、夜ごはん１８：００　片付け１８：３０　星空観察１９：３０　花火２０：００　...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_58" class="cat-0 clearfix">
                <span class="up_ymd">2019/02/24（日)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=58')">コーヒーアワー　オンラインでのご参加もありがとうございます</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span
                        class="comment">2019年２月２４日ダイバーシティビル、またオンラインにて当事者、家族、アライの方々などのご参加があり無事にコーヒーアワーを開催することができました。来月のコーヒーアワーもよろしくお願いいたします！</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_57" class="cat-0 clearfix">
                <span class="up_ymd">2018/12/09（日)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=57')">年間　コーヒーアワースケジュール
                        in徳島（事前予約：オンライン参加可能）</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span class="comment">【年間】コーヒーアワースケジュール
                        in徳島日時：毎月末（予定）　基本的には１３：３０〜実施します。場所：徳島市蔵本町２丁目１１　ダイバーシティビル３階目的：当事者、家族、支援者の交流や情報共有、理解を深める。【年間スケジュール】１月２７日２月２４日３月２４日４月２８日５月２６日６月３０日７月２８日８月２５日９月２９日１０月２７日【参加費】会員（正会員・賛助会員・学生会員・法人会員）：無料非会員：...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_56" class="cat-0 clearfix">
                <span class="up_ymd">2018/12/06（木)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=56')">12月水曜日20:00〜　ラジオ放送のお知らせ</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span
                        class="comment">12月のラジオ放送のお知らせ毎週水曜日20:00〜　、再放送２４：００〜インターネットで「サイマルラジオ」→FMびざん（FM791を選択）全国どこでも聞いていただくことが可能です。パーソナリティ　清水ひろとゲスト　株式会社　青い葉　大西さん障害者の雇用についての取り組み、マイノリティについてお話ししています。是非、お聞きください。どうぞよろしくお願いいたします。</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_55" class="cat-0 clearfix">
                <span class="up_ymd">2018/12/06（木)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=55')">12月9日 総会後・お茶会</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span class="comment">12月9日
                        総会後・お茶会を開催いたします。総会への参加は正会員の皆様のみになります。・総会（13:30まで）・お茶会日時２０１８年１２月９日　１３：３０〜場所：徳島市蔵本町２丁目１１番地　ダイバーシティビル３階参加費：正会員・賛助会員　無料　　　　非会員　500円</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_54" class="cat-0 clearfix">
                <span class="up_ymd">2018/09/04（火)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="https://www.facebook.com/events/273822879777406/"
                        target="_parent">お茶会〜９月２４日〜facebookページ</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span class="comment">facebookイベントページはこちらです</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_53" class="cat-0 clearfix">
                <span class="up_ymd">2018/09/04（火)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=53')">♩イベントは大いに盛り上がりました♩</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/53-0s.png?5eca69725b1d8" width="100"
                            class="thumbNail" id="thumb_53"></span>
                    <span
                        class="comment">８月２６日に開催いたしましたワンフリーナインさんとのコラボレーションイベントはたくさんの方にお越しいただきまして盛大に盛り上がりました！ご参加いただきました皆さん、誠にありがとうございました！今後も各地でイベントを開催予定しておりますので、どうぞよろしくお願いいたします！</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_52" class="cat-0 clearfix">
                <span class="up_ymd">2018/09/04（火)</span>
                <span class="catName">お知らせ</span><span class="title"><a href="./pkobo_news/upload/52-0link_file.png"
                        target="_blank">お茶会〜９月２４日〜</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span
                        class="comment">『LGBTを語るお茶会』LGBT🏳️‍🌈ひとつの個性。なんとなく知ってる。聞いたことなかった。自分。家族。友達。それは、以外と身近な事であるということ。LGBTについて、知ること、人と出会うこと、語ることでもっと皆んなが生きやすい世の中に。そんなLGBTについて、今までゆっくりと話さなかったこと。聞けなかったこと。&nbsp;言いたかったこと。この日は、みんなオープンに、お茶でも飲みながら、仲良く語りあえたら！そんなお...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_51" class="cat-0 clearfix">
                <span class="up_ymd">2018/08/30（木)</span>
                <span class="catName">お知らせ</span><span class="title"><a href="./pkobo_news/upload/51-0link_file.png"
                        target="_blank">１位獲得　CD絵本「Color」</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/51-0s.png?5eca69725b31c" width="100"
                            class="thumbNail" id="thumb_51"></span>
                    <span class="comment">【1位を獲得！
                        ありがとうございます】セブン&amp;アイ　総合通販サイト　オムニ７大人の絵本部門発売時期：すべて１位、新着１位、性別：すべて１位、女性１位、皆さんの応援のお陰です。ありがとうございます。【ランキング】（2018/8/29現在）２位→１位https://7net.omni7.jp/list/ranking/162504/…ありがとうございます！【セブンイレブンでも】セブンイレブンさんでも店舗受け取り（送料無料）サービスで手に入れて頂けま...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_50" class="cat-0 clearfix">
                <span class="up_ymd">2018/08/23（木)</span>
                <span class="catName">お知らせ</span><span class="title"><a href="https://books.rakuten.co.jp/rb/15499802/"
                        target="_parent">楽天ブックスに　CD絵本「Color」登場！</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/50-0s.png?5eca69725b404" width="100"
                            class="thumbNail" id="thumb_50"></span>
                    <span class="comment">楽天ブックスさんにCD絵本「Color」が登場しています。みなさん、是非手にとって、絵や歌で当事者らのメッセージを受け取ってください。</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_49" class="cat-0 clearfix">
                <span class="up_ymd">2018/08/01（水)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=49')">８月２日　個別相談会</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span
                        class="comment">２０１８年８月２日１３：３０〜１７：００頃まで場所：事務所（徳島市東吉野町２丁目３１−２）対面、またはご連絡を頂きましたら、Web相談も可能です。（事前予約制）</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_48" class="cat-0 clearfix">
                <span class="up_ymd">2018/07/11（水)</span>
                <span class="catName">お知らせ</span><span class="title"><a href="./pkobo_news/upload/48-0link_file.png"
                        target="_blank">CD絵本【color】まもなく</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/48-0s.png?5eca69725b4c7" width="100"
                            class="thumbNail" id="thumb_48"></span>
                    <span
                        class="comment">【CDブック】2018年7月末日（予定）まもなく清水展人・ワンフリーナイン・近藤真澄http://store-tsutaya.tsite.jp/…/sell_book/9784434247880.html</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_47" class="cat-0 clearfix">
                <span class="up_ymd">2018/07/01（日)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="https://kokucheese.com/event/index/527530/" target="_parent">8月
                        音楽イベントのお知らせ</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span class="comment">2018年08月26日(Open14：00～ Start 14：30～ 交流会 17：00～ Close 19：00)【 清水 展人 講演会
                        × ワンフリーナイン 徳島遠征ライブ 】※性同一性障害の当事者である日本LGBT協会代表「清水 展人」講演&amp;ONE FREE
                        NINEライブを開催。※楽曲「color」を披露。※イベント終演後に交流会を行います。ホームパーティ～のような温かい空間☆皆さん
                        気軽にご参加下さい。(簡単な軽食有り)</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_46" class="cat-0 clearfix">
                <span class="up_ymd">2018/07/01（日)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=46')">日曜市での活動　夏休みのお知らせ</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span
                        class="comment">毎週日曜日に開催しておりました、徳島市問屋町でのびっくり日曜市のフリーーマーケットやコミュニティスペースは夏場、「夏休み」とさせて頂きます。再開する際には、またホームページにてお知らせさせて頂きます。引き続き、フリーマケットなどで使用できます寄付物や、寄付金の受付は随時しておりますのでお気軽にお問い合わせください。引き続きご支援ご協力よろしくお願いいたします。</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_44" class="cat-0 clearfix">
                <span class="up_ymd">2018/05/25（金)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=44')">ミヤラジ　栃木県ラジオ出演</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span class="comment">5/25(金) 13:00~13:30
                        栃木県の地元ラジオ「ミヤラジ」に理事の加藤が出演します。翌日２６日に、同県宇都宮市で清水による講演がありますので、精一杯盛り上げます。栃木県も少しずつ、LGBTsに関心が集まってきております。一人でも多くの方が「自分らしく生きる」小さな一歩になればと思います(^^)アプリをダウンロードして是非聞いてみてください！ミヤラジFMhttps://www.miyaradi.com/</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_45" class="cat-0 clearfix">
                <span class="up_ymd">2018/05/23（水)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=45')">清水ひろと　広がるラジオ　毎週水曜放送中</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/45-0s.png?5eca69725b5f7" width="100"
                            class="thumbNail" id="thumb_45"></span>
                    <span
                        class="comment">毎週水曜日20時〜「清水ひろと　広がるラジオ」を放送中です！本日も20時から、清水が元気にお話しますので、是非聞いてみてください！アプリをダウンロードすれば、全国どこでも聞けますので遠方の方もお気軽にお聞きください(^^)</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_43" class="cat-0 clearfix">
                <span class="up_ymd">2018/05/05（土)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=43')">５月７日東京　ミュージックフラップ</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span
                        class="comment">５月７日（月）東京　ミュージックフラップ性的マイノリティ応援ソング「color」披露１９：３０オープン１９：２５スタート２１：３０フリータイム《料金》２０００円（１ドリンク付き）会場：LATIN
                        SAKABA isalud!荒川区東日暮里６−６０−９　日暮里駅前ビル３FTEL:03-3807-2150JR日暮里駅徒歩１分</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_42" class="cat-0 clearfix">
                <span class="up_ymd">2018/05/05（土)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=42')">東京レインボーパレード</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span class="comment">２０１８年５月６日東京レインボパレードに参加します。皆さんも一緒に行進しませんか？</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_41" class="cat-0 clearfix">
                <span class="up_ymd">2018/05/05（土)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=41')">BBQ in栃木　開催しました</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span
                        class="comment">2018年５月５日栃木県鬼怒川緑地公園にてBBQ交流会を開催しました。ありのままの自分で過ごせて解放された気持ちになれました。楽しかった！という声をいただきました。ご参加いただいたみなさん、ありがとうございました。</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_39" class="cat-0 clearfix">
                <span class="up_ymd">2018/03/28（水)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=39')">４月７日　お花見会</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span
                        class="comment">2018年4月7日お花見🌸日:2018年4月7日時間:11時〜場所:徳島城公園（徳島中央公園）詳細:&nbsp;https://www.awanavi.jp/spot/2013032503225/最寄駅:徳島駅から徒歩5分ほど持ち物:ご自身の昼食、レジャーシートなどお持ちの方はご持参下さい。※食べ物、お菓子や飲み物、プラスαでお持ち頂いても構いません。皆で楽しみましょう。主催:非営利型一般社団法人日本LGBT協会参加申し込み・お問い合わせ:メール：customer@lgbt-kyokai.co...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_38" class="cat-0 clearfix">
                <span class="up_ymd">2018/03/18（日)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=38')">３月２５日フルマラソン応援のご案内</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span
                        class="comment">３月２５日（日）９：００スタートフルマラソンにメンバーが出場いたします。徳島マラソン２０１８にランニング会で練習、またそれぞれの地域で練習されてきた皆さんとともにフルマラソンに挑戦します。沿道でのご声援や応援が力になります。メンバー全員が、自分らしい走りができますようにどうぞ温かく見守って下さい。よろしくお願いいたします。</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_37" class="cat-0 clearfix">
                <span class="up_ymd">2018/02/01（木)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=37')">２月ランニング会のお知らせ（徳島・兵庫）</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span
                        class="comment">２月１日（木）・１５日（木）・２２日（木）集合場所：日本LGBT協会　事務所住所：徳島県徳島市東吉野町２丁目３１−２２月７日（水）・９日（金）集合場所：兵庫県西宮市　阪急甲東園駅・仁川駅付近（予定）参加費：無料ご関心のある方は、お気軽にお問い合わせください。お待ちしております。</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_36" class="cat-0 clearfix">
                <span class="up_ymd">2018/02/01（木)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=36')">ラジオのお知らせ</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span
                        class="comment">毎週水曜日は、BFM791FMびざんにて清水展人の広がるラジオを放送しています。インターネット環境があれば、スマートフォンからも「サイマルラジオ」→「FM791」でどこでも聞いて頂けます。毎週水曜日２０：００〜、２４：００〜です。様々なジャンルで活躍されている方々をお呼びしています。２月の放送は、台湾でLGBTの活動をされている林芹蕾さんに、ゲスト出演していただきました。どうぞお聞きください🎶</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_35" class="cat-0 clearfix">
                <span class="up_ymd">2018/02/01（木)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=35')">日曜市出展のお知らせ</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span
                        class="comment">２０１８年２月も、日曜市にて毎週日曜日、交流の場を設けています。また、地域の方々に「LGBTって何？？」からスタートし草の根運動として、広げる、繋がる、ことを目的としています。初めての方も、お気軽にお越しください。ボランティアスタッフとしてのお手伝いも募集しております。是非ご参加ください。不用品のリサイクル、綿菓子やポップコーン等、売り上げは日本LGBT協会の活動資金の寄付金とさせて頂いております。住...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_34" class="cat-0 clearfix">
                <span class="up_ymd">2017/12/29（金)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=34')">年末年始のお休みについて</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/34-0s.jpg?5eca69725b798" width="100"
                            class="thumbNail" id="thumb_34"></span>
                    <span
                        class="comment">２０１７年１２月３１日〜１月１日・２日・３日と営業をお休みいたします。なお、メールでのお問い合わせや講演会・研修会のご相談は年中無休で受け付けさせて頂いております。お問い合わせ頂いた皆様にはご迷惑をおかけいたしますが、新年は1月4日（水）から開始いたしますのでご了承いただきますよう、何卒よろしくお願い申し上げます。２０１７年もお世話になり、誠にありがとうございました。新年もどうぞよろしくお願いい...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_33" class="cat-0 clearfix">
                <span class="up_ymd">2017/12/29（金)</span>
                <span class="catName">お知らせ</span><span class="title"><a href="./pkobo_news/upload/33-0link_file.png"
                        target="_blank">カラフルわたがし！びっくり日曜市！</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/33-0s.png?5eca69725b864" width="100"
                            class="thumbNail" id="thumb_33"></span>
                    <span
                        class="comment">【日曜市】たくさんのお店が並んでいますが私たちも、カラフルわたがしをはじめ出店しています。是非、お気軽にお越しください。日時：２０１７年１２月３０日年末に限り、土曜日です。お間違えのないようにお気をつけ下さい。時間：AM７：００〜PM１４：００頃まで住所：徳島県徳島市問屋町６０</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_32" class="cat-0 clearfix">
                <span class="up_ymd">2017/11/08（水)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=32')">交流会　in東京</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span
                        class="comment">【交流会　in東京】2017年11月25日（土）時間：１８：４５～２０：３０（１８：３０開場）場所：恵比寿駅近郊会員：無料非会員：１０００円１、イベント名（例：交流会東京）２、氏名３、参加人数を明記の上下記までお申し込みください。・申し込みされた方に詳細をお伝えいたします。＜お申込み先＞メール　customer@lgbt-kyokai.com電話　　088-660-5813</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_31" class="cat-0 clearfix">
                <span class="up_ymd">2017/11/03（金)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=31')">11月ランニング会スケジュール</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/31-0s.jpg?5eca69725b93a" width="100"
                            class="thumbNail" id="thumb_31"></span>
                    <span
                        class="comment">11月のランニングは11月2日（木）、9日（木）練習開始時刻　２０時～となっております。ランニングも初心者大歓迎です！ご参加いただける方は、動きやすい服装でご参加下さい。お問い合わせ　customer@lgbt-kyokai.com
                        まで</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_30" class="cat-0 clearfix">
                <span class="up_ymd">2017/10/07（土)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=30')">☆Happy
                        Halloween☆ハロウィンパーティ開催！</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/30-0s.jpg?5eca69725b9f4" width="100"
                            class="thumbNail" id="thumb_30"></span>
                    <span class="comment">☆Happy
                        Halloween☆キッチン交流会☆ハロウィンパーティを開催します！みんなでおなかいっぱい食べて笑いましょう☆◎伝統的なハロウィンにちなんだゲームをします！優勝するのは誰かな？！◎カボチャのカーヴィングに挑戦！Jack
                        O'
                        Lanternをうまく作れるかな？！◎ハロウィンメニューを作って食べよう！◎好きな服装で来てください。仮装してもＯＫ！仮装しなくてもＯＫ！日時：2017年10月29日（日）11：30～開催場所：徳島市内　Ｊ...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_29" class="cat-0 clearfix">
                <span class="up_ymd">2017/09/27（水)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=29')">☆絵の具で遊ぼう＆撮影会！</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/29-0s.jpg?5eca69725baba" width="100"
                            class="thumbNail" id="thumb_29"></span>
                    <span class="comment">9月24日に大神子海岸にて☆絵の具で遊ぼう＆撮影会！&nbsp;～ ひとりひとり違う色を持っているcolor
                        ～を開催しました！お天気は曇りでしたが、みんなで思いきり笑い楽しみました☆みんなの手形で作ったタペストリーを海岸までみんなで運びました！みんな色んな色があって、それがひとりひとり違っておもしろい！</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_27" class="cat-0 clearfix">
                <span class="up_ymd">2017/09/27（水)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=27')">報告会のお知らせ</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/27-0s.jpg?5eca69725bb77" width="100"
                            class="thumbNail" id="thumb_27"></span>
                    <span class="comment">アメリカ・ロサンゼルスにおけるLGBT支援の現場についての報告会を行います。【アメリカ
                        ロサンゼルスにおけるLGBT支援現場について】☆報告会＠兵庫県日時：10月8日(日)16:00～18:00場所：男女共同参画センター ウェーブ
                        411会議室住所：兵庫県西宮市高松町4-8定員：先着順35名参加費：会員無料 /
                        非会員　1000円（資料代）☆報告会＠徳島県日時：10月15日(日)16:00～18:00場所：2丁目ひろば　徳島市北田宮2-7-72参加費：会員無...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_28" class="cat-0 clearfix">
                <span class="up_ymd">2017/09/11（月)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=28')">新刊ブックレット販売予定のお知らせ</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/28-0s.jpg?5eca69725bde0" width="100"
                            class="thumbNail" id="thumb_28"></span>
                    <span class="comment">2017年10月頃、新刊発売開始予定です！</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_25" class="cat-0 clearfix">
                <span class="up_ymd">2017/09/11（月)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=25')">☆キッチン交流会</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/25-0s.jpg?5eca69725be93" width="100"
                            class="thumbNail" id="thumb_25"></span>
                    <span
                        class="comment">今回のキッチン交流会は手巻き寿司です！みんなでテーブルを囲んで話をしながら美味しいごはんを食べ、楽しい時を過ごしました！みんなお腹いっぱいになりました。</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_26" class="cat-0 clearfix">
                <span class="up_ymd">2017/09/10（日)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=26')">サンテレビ日曜夕刊にて放送されました！</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/26-0s.jpg?5eca69725bf4a" width="100"
                            class="thumbNail" id="thumb_26"></span>
                    <span class="comment">17時30〜放送して頂きました☆</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_24" class="cat-0 clearfix">
                <span class="up_ymd">2017/09/07（木)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=24')">☆コーヒーアワーナイト＠島根県</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/24-0s.jpg?5eca69725bff5" width="100"
                            class="thumbNail" id="thumb_24"></span>
                    <span class="comment">毎回大好評のコーヒーアワー！次回は島根県雲南市での開催が決定しました！◆開催日時：2017年9月13日(水曜日)19：00～
                        ◆開催場所：島根県雲南市&nbsp;
                        ◆参加費:会員、18歳未満：無料／非会員：1,000円◆申込み方法:お電話またはメール、FAXでお申し込みください。FAXの場合は、氏名、参加人数を明記の上FAXしてください。
                        ◆お電話の場合：088-660-5813・平日AM10：00～PM18：30まで◆FAXの場合：088-660-5814・24時間OK！お問い合わせ...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_23" class="cat-0 clearfix">
                <span class="up_ymd">2017/09/06（水)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=23')">サンテレビ NEWS PORT放送</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/23-0s.jpg?5eca69725c0c1" width="100"
                            class="thumbNail" id="thumb_23"></span>
                    <span class="comment">9月5日21：30からのサンテレビ NEWS PORTに放送されました。[ 自分らしく・・・広がるLGBT支援の輪 ]</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_22" class="cat-0 clearfix">
                <span class="up_ymd">2017/09/05（火)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=22')">お寺×自分らしく</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/22-0s.jpg?5eca69725c177" width="100"
                            class="thumbNail" id="thumb_22"></span>
                    <span
                        class="comment">2017年9月3日に島根県のお寺で性的マイノリティ講演会を開催しました。いろんな方々から、ご縁を頂き感謝です^^お話したいこともまだまだあり、なんと島根県に急遽、もう一泊させて頂くことになりました！とても空気が澄んでいました☆</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_21" class="cat-0 clearfix">
                <span class="up_ymd">2017/09/02（土)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=21')">ランニング会 8月31日</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/21-0s.jpg?5eca69725c230" width="100"
                            class="thumbNail" id="thumb_21"></span>
                    <span class="comment">ストレッチ、ウォーキングからランニングまで個人差はありますが、約7キロ程皆で走り汗を流しました！お気軽にご参加ください☆[
                        詳しくはこちらから ]</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_20" class="cat-0 clearfix">
                <span class="up_ymd">2017/08/28（月)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=20')">BBQ交流会☆</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/20-0s.jpg?5eca69725c2e6" width="100"
                            class="thumbNail" id="thumb_20"></span>
                    <span
                        class="comment">8月26日に栃木県にてBBQ交流会を開催しました！アライ5人、バイセクシャル、FTM4人、お子ちゃま2人で賑やかなBBQでした。肉を喰いまくりながら(笑)、悩んでいる事を吐き出したり、恋愛について話したり、当事者の親の想いをシェアしたり、仕事の話したり・・・色々な話を思うがままに皆んなでワイワイ話して貰いました。アライの方からは、『LGBTに対する認識が高まるいい機会だった』当事者からは、『何を話しても否定されない...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_18" class="cat-0 clearfix">
                <span class="up_ymd">2017/08/26（土)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=18')">ケーブルテレビにて</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/18-0s.jpg?5eca69725c3a3" width="100"
                            class="thumbNail" id="thumb_18"></span>
                    <span class="comment">2017年8月23-24日ケーブルテレビにて放送されました！</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_17" class="cat-0 clearfix">
                <span class="up_ymd">2017/08/25（金)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=17')">自分らしく生きる</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/17-0s.jpg?5eca69725c456" width="100"
                            class="thumbNail" id="thumb_17"></span>
                    <span class="comment">福岡県内のMARUZEN 博多書店、紀伊国屋
                        福岡本店それぞれの書店に『自分らしく生きる』が置いておりました。ありがとうございます！サインをお持ちさせていただきました！</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_19" class="cat-0 clearfix">
                <span class="up_ymd">2017/08/24（木)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=19')">川遊び体験ツアー</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/19-0s.jpg?5eca69725c50d" width="100"
                            class="thumbNail" id="thumb_19"></span>
                    <span
                        class="comment">第一弾の自然体験ツアーに続き、今回は川遊び体験ツアーを開催しました！自分たちでできることをする。薪を割ったり自然の中で汗をかくのは気持ちいいですね。さて、1日目は海に入り、みんなで波に打たれたり、ビーチバレーを楽しみ、夜にはエビ捕りに出かけました。2日目はカヌー、カヤック、パドルサーフィンにチャレンジ！こんなことも！美味しい食事、そして皆でお腹の底から、笑いあい、大盛り上がりでした。自然の中で、...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_16" class="cat-0 clearfix">
                <span class="up_ymd">2017/08/10（木)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=16')">BBQ交流会開催のお知らせ</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/16-0s.jpg?5eca69725c5ce" width="100"
                            class="thumbNail" id="thumb_16"></span>
                    <span
                        class="comment">2017年8月26日(土)に、栃木県でBBQ(バーベキュー)交流会やります！みんなで焼いて、食べて、笑って夏を満喫しよう☆LGBT当事者も、そうでない人も、参加OK！！詳細はメールまたはお電話、FAXでお問い合わせください！</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_15" class="cat-0 clearfix">
                <span class="up_ymd">2017/08/06（日)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=15')">台風に伴うＧＳＡビレッジ休校について</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap">　</span>
                    <span
                        class="comment">８月７日（月）は、ＧＳＡビレッジの学習サポート実施予定でしたが、台風の接近に伴い、中止とさせていただきます。8月９日（水）以降は通常通り開催予定です。</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_13" class="cat-0 clearfix">
                <span class="up_ymd">2017/07/25（火)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=13')">GSAビレッジ学習サポート</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/13-0s.jpg?5eca69725c696" width="100"
                            class="thumbNail" id="thumb_13"></span>
                    <span class="comment">7月、8月の月曜日、水曜日学習サポートを行っています。7月は、24日・26日
                        10時〜16時！子どもさんはもちろん、大人の方もお待ちしております。夏休みの自習室を開放します。会員、18才以下無料です。（非会員1000円）詳細はこちら。http://www.lgbt-kyokai.com/children.html夏休みの宿題をしに、是非お越し下さい今日から、日本LGBT協会の学習支援スペースがはじまりました！詳しい日程などはこちら！http://lgbt-kyokai.com/...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_12" class="cat-0 clearfix">
                <span class="up_ymd">2017/07/22（土)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=12')">自然体験キャンプ</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/12-0s.jpg?5eca69725c8cc" width="100"
                            class="thumbNail" id="thumb_12"></span>
                    <span
                        class="comment">いよいよお待たせしました☆キャンプ1日目！妖怪屋敷にも行ってきました！日暮れ時に・・キャンプ2日目☆朝から体操！もりもり食べて・・川で泳いだり・・定番のスイカ割り！吊り橋も渡って帰り際、感動の涙も・・服を着て、水の中に入っても誰も理由なんて聞くこともない。風呂やトイレや着替えもね。みんな違っていい。違うからいい。それぞれの色へ歩いていこう。本当に最高の天気と最高のメンバーです！</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_11" class="cat-0 clearfix">
                <span class="up_ymd">2017/07/08（土)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=11')">木曜ランニング、阿波踊り期間の変更のお知らせ</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/11-0s.jpg?5eca69725c992" width="100"
                            class="thumbNail" id="thumb_11"></span>
                    <span
                        class="comment">８月に徳島県で行われる一年に一度のお祭り、「阿波踊り」にＬＧＢＴ協会も参加することになりました！そこで、7月20日（木）27日（木）8月10日（木）のみ、阿波踊りの練習後、ランニング会となります。阿波踊り練習開始時刻　19時～阿波踊りもランニングも初心者大歓迎です！ご参加いただける方は、お問い合わせ　customer@lgbt-kyokai.com
                        まで</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_10" class="cat-0 clearfix">
                <span class="up_ymd">2017/07/06（木)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=10')">コーヒーアワーナイト＠兵庫県西宮市</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/10-0s.jpg?5eca69725ca4f" width="100"
                            class="thumbNail" id="thumb_10"></span>
                    <span
                        class="comment">☆コーヒーアワー・ナイト＠兵庫県西宮市開催日時2017年8月18日(金曜日)19：00～21：00開催場所　西宮市男女共同参画センター　ウエーブ　〒663-8204　兵庫県西宮市高松町4-8「プレラにしのみや」４階　　阪急西宮北口駅南口から約100ｍ。参加費会員、18歳未満：無料／非会員：1,000円申込み方法お電話またはメール、FAXでお申し込みください。FAX、メールの場合は、①コーヒーアワー参加の旨②氏名③参加人数④連絡先を明記の上、お...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_9" class="cat-0 clearfix">
                <span class="up_ymd">2017/07/03（月)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=9')">ＧＳＡビレッジのキャラクター名を募集します！</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/9-0s.jpg?5eca69725cb1f" width="100"
                            class="thumbNail" id="thumb_9"></span>
                    <span
                        class="comment">ＧＳＡビレッジの公式キャラクターの名前を募集します！①オレンジ色のカクレクマノミ②白色のタイ③青色のウツボ④貝（カクレクマノミの頭の上にのっています）４つ名前を考えて下記メールアドレスまでご応募ください。＜応募締め切り＞７月２８日（金）２４時＜応募メール送付先＞customer@lgbt-kyokai.com＜メール記載方法＞メールタイトル「キャラクター名募集」・氏名・住所・キャラクター名①～④・名前にこめた意味・由来など...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_8" class="cat-0 clearfix">
                <span class="up_ymd">2017/07/03（月)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=8')">夏休み期間、学習支援スペースを開放します</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/8-0s.jpg?5eca69725cbe6" width="100"
                            class="thumbNail" id="thumb_8"></span>
                    <span
                        class="comment">夏休みは、ＧＳＡビレッジに来ませんか？夏休み期間中、主に月曜日と水曜日に学習支援スペースを開放します。クーラーの効いた部屋で、夏休みの宿題をしませんか？チューターもいるので、勉強の分からないところは質問してくださいね。大人の方も、語学学習や読書をしたい方、静かに資格勉強をしたい方などはご参加ください。ＬＧＢＴに関する書籍なども置いてあります。＜対象・料金＞小学生以上、静かに自習できる方は参加し...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_14" class="cat-0 clearfix">
                <span class="up_ymd">2017/06/27（火)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=14')">メイクアップ＆スキンケア教室</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/14-0s.jpg?5eca69725cca8" width="100"
                            class="thumbNail" id="thumb_14"></span>
                    <span
                        class="comment">今日は、ナリス化粧品さんの協力のもと、メイクアップ＆スキンケア教室を開催！本当に自分にあったメイク法やお肌のお手入れなどの基本的なスキンケアから基本的なメイク方法など学べます。性別に関わらず、スキンケアの時代ですね。みなさんの笑顔が見れて本当に幸せ☆ナリス化粧品の皆さん！ご参加頂いた皆さん！ありがとう！</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_7" class="cat-0 clearfix">
                <span class="up_ymd">2017/06/21（水)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=7')">イベント情報</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/7-0s.jpg?5eca69725cd64" width="100"
                            class="thumbNail" id="thumb_7"></span>
                    <span
                        class="comment">日本LGBT協会では様々なイベントを企画しています。6月28日に開催されるメイクアップ＆スキンケア教室では、基本的なスキンケアから基本的なメイク方法など学べ、LGBTの方には、ヒゲを目立ちにくくする方法も伝授！これは必見！また、LGBTの人だけでなく、誰でも参加していただけますので皆様のご参加お待ちしています☆[
                        イベント情報はコチラから ]</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_6" class="cat-0 clearfix">
                <span class="up_ymd">2017/06/19（月)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=6')">[YouTube] 清水ひろとチャンネル</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/6-0s.jpg?5eca69725ce26" width="100"
                            class="thumbNail" id="thumb_6"></span>
                    <span class="comment">今回のゲストは、石崎沙織さん。バイセクシュアルの方です。ご自身の体験談や同じ悩みをお持ちの方にメッセージをいただきました☆[
                        清水ひろとチャンネルはコチラから ]</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_5" class="cat-0 clearfix">
                <span class="up_ymd">2017/06/18（日)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=5')"> LGBT当事者と家族のための交流会 コーヒーアワー＠栃木県
                    </a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/5-0s.jpg?5eca69725cedc" width="100"
                            class="thumbNail" id="thumb_5"></span>
                    <span class="comment">LGBT当事者と家族のための交流会
                        コーヒーアワー前回、兵庫県西宮市で行われ好評だったコーヒーアワー☆楽しくすごさせていただきました。今回は、なんと・・・！栃木県にて開催します！前回同様、少しですが、お茶、お菓子をご用意しております。お茶とお菓子をいただきながら色々なお話しをしませんか？皆様のご参加お待ちしています。◆コーヒーアワー・ナイト＠栃木県2017年6月30日(金曜日)19：30～21：30◆開催場所上三川いき...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_3" class="cat-0 clearfix">
                <span class="up_ymd">2017/06/17（土)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=3')">ホームページができました！</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/3-0s.png?5eca69725cf95" width="100"
                            class="thumbNail" id="thumb_3"></span>
                    <span class="comment">一般社団法人日本LGBT協会のホームページができました。スマホでもご覧いただけます！スマホでご覧の方はぜひブックマーク登録してくださいね！</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_2" class="cat-0 clearfix">
                <span class="up_ymd">2017/06/11（日)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=2')">絵本セラピー</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/2-0s.jpg?5eca69725d061" width="100"
                            class="thumbNail" id="thumb_2"></span>
                    <span class="comment">絵本セラピー®絵本と聞くと、子どもが読むものと思われがちですが実は、大人になって改めて読んでみることで、
                        自分にとって大切なことに気づくことがあるのです。
                        色彩豊かな絵と、シンプルな文章の絵本には大人だからこそ感じることのできる様々な感情を自然と引き出すことができます。それぞれの価値観、人生、感情・・・が違うように絵本を通して感じたこと気付いたことは、みなさん多様です。さらに、自分の感じた想いを...</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>


            <li id="postID_1" class="cat-0 clearfix">
                <span class="up_ymd">2017/06/11（日)</span>
                <span class="catName">お知らせ</span><span class="title"><a
                        href="javascript:openwin('news-detail.php?id=1')">LGBT当事者と家族のための交流会 コーヒーアワー</a></span>

                <!--　サムネイルと本文表示（不要な場合削除OK）-->

                <div class="clearfix">
                    <span class="thumbNailWrap"><img src="./pkobo_news/upload/1-0s.jpg?5eca69725d139" width="100"
                            class="thumbNail" id="thumb_1"></span>
                    <span class="comment">LGBT当事者と家族のための交流会
                        コーヒーアワー前回、兵庫県西宮市で行われ好評だったコーヒーアワー☆楽しくすごさせていただきました。前回同様、少しですが、お茶、お菓子をご用意しております。お茶とお菓子をいただきながら色々なお話しをしませんか？皆様のご参加お待ちしています。次回開催のお知らせです！☆コーヒーアワーナイト2017年6月21日(水曜日)19：00～21：00[
                        コーヒーアワー詳細はコチラから ]</span>
                </div>
                <!--　/サムネイルと本文表示（不要な場合削除OK）-->

            </li>

        </ul>
    </div>
</body>

</html>