<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>掲示板（出会い）</title>
    <link rel="stylesheet" href="../static/css/materialize.css">
</head>
<body>
    <!-- 掲示板用のヘッダーです。横に選択バーをつけました -->
     <nav>
         <div class="nav-wrapper pink lighten-4">
             <a href="../static/img/nijinotane_img.png" class="brand-logo">niji no tane</a>
             <ul id="nav-mobile" class="right hide-on-med-and-down">
                 <li><a href="#about-us">このサイトについて</a></li>
                 <li><a href="#event">イベント</a></li>
                 <li><a href="#recommend">おすすめ</a></li>
                 <li><a href="/mypage">マイページ</a></li>
                 <li><a href="/login">ログアウト</a></li>
             </ul>
         </div>
         <div class="nav-content  pink lighten-4">
             <ul class="tabs tabs-transparent">
                 <li class="tab"><a href="test.html">試し書き</a></li>
                 <li class="tab"><a class="active" href="#test2">妊活</a></li>
                 <li class="tab disabled"><a href="#test3">子育て</a></li>
                 <li class="tab"><a href="#test4">イベント作成</a></li>
             </ul>
         </div>   
     </nav>
     
    
</body>
</html>