<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/materialize.css">
    <!-- cssファイル2つ目です（マテリアライズで調整が難しいところはここを適用させています）。以降CSS２と表記 -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!-- ヘッダー：固定は、CSS２を適用 -->
    <nav>
        <div class="nav-wrapper" id="header">
            <a href="/" class="brand-logo">卒業制作Webサイト</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="">このサイトについて</a></li>
                <li><a href="">掲示板</a></li>
                <li><a href="">イベント</a></li>
                <li><a href="">おすすめ</a></li>
                <li><a href="/login">ログイン/新規登録</a></li>
            </ul>
        </div>
    </nav>
<!-- 以下は、CSS２を適用 -->
    <div class="top-img">
        <h1>ここはいい感じの言葉をいれます</h1>
    </div>
<div class="about-us">
        <h4>このサイトについて</h4>
    <div class="us-img">
        <img src="../static/img/hands-family.jpeg" alt="家族写真（手）">
    </div>  
    <div class="us-text">
        <p>テキストテストテストテストテストテストテストテストテストテストテスト</p>
    </div>
</div>
<!-- 掲示板 -->
<div class="forum">

</div>
<!-- イベント -->
<div class="event">

</div>


<!-- フッター -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://sunabaco.com/">SUNABACO</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © すなぷろ5th（翁長、川満、上原）
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
<script type="text/javascript" src="../static/js/materialize.js"></script>
</body>
</html>