{% extends "base.html" %}
<!-- 入力フォーム -->
{% block content %}
<div class="row" style="margin-top: 2%; margin-left: 35%; width: 50%;">
    <div class="col s6 m8">
        <div class="card pink lighten-5">
            <div class="card-content black-text" style="text-align:center;">
                <span class="card-title">ログイン</span>
                <p>下の入力フォームにIDとpasswordをご入力下さい</p>
                <div class="row">
                    <form class="col s12" action="/login" method="post">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="id" type="text" class="validate" name="id_name">
                                <label for="id">*ID</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate" name="password">
                                <label for="password">*Password</label>
                            </div>
                        </div>
                        <input type="submit" name="save" value="ログイン" style="width: 45%;"
                            class="waves-effect waves-light btn-large pink lighten-4">
                    </form>
                </div>
            </div>

        </div>
    </div>
    {% endblock%}