{% extends "base.html" %}
<!-- 入力フォーム -->
{% block content %}
<div class="row">
    <div class="col s6 m4">
        <div class="card red lighten-4">
            <div class="card-content black-text">
                <span class="card-title">新規登録</span>
                <p>下の入力フォームに必要事項をご入力下さい</p>
                <div class="row"></div>
                <form class="col s12" action="/regist" method="post">
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Placeholder" id="first_name" type="text" class="validate" name="first_name">
                            <label for="first_name">*First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" type="text" class="validate" name="last_name">
                            <label for="last_name">*Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="id" type="text" class="validate" name="id_name">
                            <label for="id">*ID</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate" name="password">
                            <label for="password">*Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate" name="email">
                            <label for="email">*E-mail</label>
                        </div>
                    </div>
                        <input type="submit" name="save" value="登録">
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock%}