<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>試しがき</title>
    <link rel="stylesheet" href="../static/css/materialize.css">
     <link rel="stylesheet" href="../static/css/style.css">


</head>
<body>
   <h1>試し書き用のhtmlです。デバックにおやくだてください</h1> 

<div id="forum">
   <!-- <div class="forum-contents"> -->
      <h3>掲示版</h3>
      <div class="forum-button">          
         <div class="partner button"> 
             <a href="https://youtu.be/Yjyj8qnqkYI"> 
                 <img src="../static/img/partner-button.jpg" alt="ハート（手）">
             </a> 
         </div>

          <!-- 妊活 -->
         <div class="baby button">
                 <a href="forum.html">
                   <img src="../static/img/pregnant-button.jpg" alt="妊婦">
                 </a>
         </div>

          <!-- 子育て -->
         <div class="kid button">
                   <a href="forum.html">
                     <img src="../static/img/parenting-button.jpg" alt="ベビーベッド">
                   </a>
         </div>
      </div>
   <!-- </div> -->
</div>
      
   
</body>
</html>