<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>試しがき</title>
    <link rel="stylesheet" href="../static/css/materialize.css">
     <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
   <h1>試し書き用のhtmlです。デバックにおやくだてください</h1> 
   <h4>映画</h4>
   <p>LGBTQを題材とした映画をいくつか紹介します！他にもおすすめがあれば、教えてください♪</p>
   <div class="movie">
       <div class="choice_movie">
           <p>チョコレートドーナツ</p>
           <iframe width="350" height="200" src="https://www.youtube.com/embed/QVWY5ETc11k" frameborder="0"
               allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>
       <div class="choice_movie">
           <p>キッズ・オールライト</p>
           <iframe width="350" height="200" src="https://www.youtube.com/embed/HQHpxXuCVLw" frameborder="0"
               allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>

       <div class="choice_movie">
           <p>バオバオ フツウの家族</p>
           <iframe width="350" height="200" src="https://www.youtube.com/embed/OaZOHoayVm4" frameborder="0"
               allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>

       <div class="choice_movie">
           <p>おいしい家族</p>
           <iframe width="350" height="200" src="https://www.youtube.com/embed/HVTqXc8Ais8" frameborder="0"
               allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>

       <div class="choice_movie">
           <p>彼らが本気で編む時は</p>
           <iframe width="350" height="200" src="https://www.youtube.com/embed/-Y_K6rnCuB0" frameborder="0"
               allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>

       <div class="choice_movie">
           <p>パレードへようこそ</p>
           <iframe width="350" height="200" src="https://www.youtube.com/embed/-HF2mVCELws" frameborder="0"
               allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>
   </div>
</body>
</html>