top_lohin.html

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/img/nijinotane_img.png" sizes="16x16">
    <title>にじ の たね</title>
    <!-- マテリアライズのcss読みこみ -->
    <link rel="stylesheet" href="../static/css/materialize.css">
    <!-- cssファイル2つ目です（マテリアライズで調整が難しいところはここを適用させています）。以降stye.cssと表記 -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- jQueryの読み込み -->
    <script src="../static/js/jquery-3.5.0.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/common.js"></script>
    <!-- マテリアライズ（アイコン使用のため）の読み込み -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <!-- 掲示版ドロップダウンメニュー部分 -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="/bbs">出会う</a></li>
        <li><a href="/bbs">妊活</a></li>
        <li><a href="/bbs">子育て</a></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content">
        <li><a href="#movie">映画</a></li>
        <li><a href="#youtube">YouTube</a></li>
        <li><a href="#books">絵本</a></li>
        <li><a href="#article">記事</a></li>
    </ul>
    <!-- ヘッダー -->
    <!-- ヘッダーの固定は、style.cssで指定しています -->
    <nav>
        <div class="nav-wrapper pink lighten-4">
            <a href="../static/img/nijinotane_img.png" class="brand-logo">にじ の たね</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#about-us">このサイトについて</a></li>
                <li><a class="dropdown-trigger" href="" data-target="dropdown1">掲示板<i
                            class=" material-icons right">arrow_drop_down</i></a></li>
                <li><a href="#event">イベント</a></li>
                <li><a class="dropdown-trigger" href="" data-target="dropdown2">おすすめ<i
                            class=" material-icons right">arrow_drop_down</i></a></li>
                <!-- <li><a href="/rules">ログイン/新規登録</a></li> -->
                <li><a href="/mypage">マイページ</a></li>
                <li><a href="">トークルーム</a></li>
                <li><a href="/logout">ログアウト</a></li>
            </ul>
        </div>
    </nav>


    <div class="top-img">
        <h1>多様な家族の”カタチ"を認め<br>誰もが家族を持つ幸せを。<br></h1>
    </div>

    <!-- サイト説明 -->

    <div id="about-us">
        <div class="row">
            <h4>にじ の たね について</h4>
            <div class="us-contents">
                <div class="col s4 offset-s1">
                    <img class="us-img" src="../static/img/hands-family.jpeg" alt="家族写真（手）">
                </div>
                <div class="col s4 offset-s1">
                    <div class="us-text">
                        <h5>にじ の たね </h5>
                        <p>にじ = LGBTのテーマカラー色とりどりで多様<br>
                            たね = 未来・子ども・可能性<br>
                            <br>
                            多様な家族の”カタチ”を認め、誰もが家族を持つ幸せをサポートしていくwebサイトとなっています。
                            <br><br>
                            niji no taneでは多様の家族のあり方の情報発信を行うことで選択肢を広げていくこと、子ども
                            や家族をつくりたいLGBTの方々が安心して情報交換が行える場を提供しそれぞれにとって幸せな家族を
                            つくっていくお手伝いをすることを目的としています。</p>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- 掲示板 今は同じページに移動します -->
    <div id="forum">


        <h3>掲示版</h3>
        <div class="forum-button">
            <div class="partner button">
                <a href="https://youtu.be/Yjyj8qnqkYI">
                    <img src="../static/img/partner-button.jpg" alt="ハート（手）">
                </a>
            </div>

            <!-- 妊活 -->
            <div class="baby button">
                <a href="forum.html">
                    <img src="../static/img/pregnant-button.jpg" alt="赤ちゃん">
                </a>
            </div>

            <!-- 子育て -->
            <div class="kid button">
                <a href="forum.html">
                    <img src="../static/img/parenting-button.jpg" alt="子供">
                </a>
            </div>
        </div>

    </div>

    <!-- イベント -->
    <div id="event">
        <h3>イベント</h3>
        <div class="row">
            <div class="col s6 offset-s3">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header pink lighten-5"><i class="material-icons">#</i>2020/05/28 お茶会交流会
                        </div>
                        <div class="collapsible-body pink lighten-5"><span>まったりお茶を飲みながら情報交換・交流会を行いましょう。場所はsunabaco
                                kozaで19時開始となっております。</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header pink lighten-5"><i class="material-icons">#</i>2020/05/29 LGBT
                            映画上映会
                            day</div>
                        <div class="collapsible-body pink lighten-5"><span>LGBTの子育てについての映画をみんなで鑑賞して意見交換を行いましょう！</span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header pink lighten-5"><i class="material-icons">#</i>2020/05/30
                            知りたい！LGBTの子育てについて</div>
                        <div class="collapsible-body"><span>実際に子育てを行っている先輩をお招きして切なることを色々聞いちゃいましょう！</span></div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <a class="waves-effect waves-light btn-large pink lighten-4 offset-s5"
            style="float:right;margin-right:26.5%;">More</a> -->
    </div>

    <!-- フッター -->
    <footer class="page-footer pink lighten-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your
                        footer
                        content.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://sunabaco.com/">SUNABACO</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://kodomap.org/">こどまっぷ</a></li>
                        <li><a class="grey-text text-lighten-3" href=" http://pinkdot-okinawa.com">ピンクドット沖縄</a>
                        </li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                    <!-- <div class="footer-copyright">
                        <!-- <div class="container"> -->
                            © すなぷろ5th（翁長、川満、上原）
                            <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>
    </footer>
    <script type="text/javascript" src="../static/js/materialize.js"></script>
</body>

</html>