<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/img/nijinotane_img.png" sizes="16x16">
    <title>niji no tane</title>
    <!-- マテリアライズのcss読みこみ -->
    <link rel="stylesheet" href="../static/css/materialize.css">
    <!-- cssファイル2つ目です（マテリアライズで調整が難しいところはここを適用させています）。以降stye.cssと表記 -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- jQueryの読み込み -->
    <script src="../static/js/jquery-3.5.0.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/common.js"></script>
    <!-- マテリアライズ（アイコン使用のため）の読み込み -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <!-- ドロップダウンメニュー部分 -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">出会う</a></li>
        <li class="divider"></li>
        <li><a href="#!">妊活</a></li>
        <li class="divider"></li>
        <li><a href="#!">子育て</a></li>
    </ul>
    <!-- ヘッダー -->
    <!-- ヘッダーの固定は、style.cssで指定しています -->
   <nav>
       <div class="nav-wrapper pink lighten-4">
           <a href="../static/img/nijinotane_img.png" class="brand-logo">niji no tane</a>
           <ul id="nav-mobile" class="right hide-on-med-and-down">
               <li><a href="#about-us">このサイトについて</a></li>
               <li><a class="dropdown-trigger" href="" data-target="dropdown1">掲示板<i
                           class=" material-icons right">arrow_drop_down</i></a></li>
               <li><a href="#event">イベント</a></li>
               <li><a href="#recommend">おすすめ</a></li>
               <li><a href="/rules">ログイン/新規登録</a></li>
               <li><a href="/mypage">マイページ</a></li>
               <li><a href="logout.html">ログアウト</a></li>
           </ul>
       </div>
   </nav>

   
    <div class="top-img">
        <h1>多様な家族の”カタチ"を認め<br>誰もが家族を持つ幸せを。<br></h1>
    </div>

    <!-- サイト説明 -->

    <div id="about-us">
        <div class="row">
            <div class="col s4 offset-s1">
                <img class="us-img" src="../static/img/hands-family.jpeg" alt="家族写真（手）">
            </div>
            <div class="col s4 offset-s1">
                <div class="us-text">
                    <h4>niji no tane について</h4>
                    <p> niji no tane
                        <br>niji = LGBTのテーマカラー色とりどりで多様<br>
                        <br>tane = 未来・子ども・可能性<br>
                        多様な家族の”カタチ”を認め、誰もが家族を持つ幸せをサポートしていくwebサイトとなっています。
                        <br>niji no taneでは多様の家族のあり方の情報発信を行うことで選択肢を広げていくこと、子ども
                        や家族をつくりたいLGBTの方々が安心して情報交換が行える場を提供しそれぞれにとって幸せな家族を
                        つくっていくお手伝いをすることを目的としています。</p>

                </div>
            </div>
        </div>
    </div>



    <!-- 掲示板 今は同じページに移動します -->
    <div id="forum">
        <h3>掲示板</h3>
        <div class="row">
            <div class="col s3 offset-s1">
                <!-- 出会い -->
                <div class="partner borad">                    
                        <a href="forum.html" class="partner-button">
                            <img src="../static/img/love.jpg" alt="ハート（手）">
                        </a>
                </div>
            </div>

            <div class="col s3 offset-s1">
                 <!-- 妊活 -->
                 <div class="pregnant borad">
                     <a href="forum.html" class="pregnant-button">
                         <img src="../static/img/pregnant.jpeg" alt="妊婦">
                     </a>
                 </div>
            </div>
            <div class="col s3 offset-s1">
                <!-- 子育て -->
                <div class="parenting borad">
                    <a href="forum.html" class="parenting-button">
                        <img src="../static/img/baby_bed.jpeg" alt="ベビーベッド">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- イベント -->
<div id="event">
    <h3>イベント</h3>
    <div class="row">
        <div class="col s6 offset-s3">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header pink lighten-5"><i class="material-icons">#</i>2020/05/28 sunabaco
                        koza5th 卒業制作発表
                    </div>
                    <div class="collapsible-body pink lighten-5"><span>夜コースの発表は19時スタートです。場所はsunabaco
                            kozaとなっております。</span></div>
                </li>
                <li>
                    <div class="collapsible-header pink lighten-5"><i class="material-icons">#</i>2020/05/29 sleeping
                        day</div>
                    <div class="collapsible-body pink lighten-5"><span>卒業制作で疲れたので、土曜日はお布団の中で一日過ごしましょう！</span></div>
                </li>
                <li>
                    <div class="collapsible-header pink lighten-5"><i class="material-icons">#</i>2020/05/30</div>
                    <div class="collapsible-body"><span>サザエさんのエンディングはみないようにしましょう。</span></div>
                </li>
            </ul>
        </div>
    </div>
    <a class="waves-effect waves-light btn-large pink lighten-4 offset-s5" style="float:right;margin-right:26.5%;">More</a>
</div>
  

<div id="recommend">
    <h3>おすすめ</h3>
    <h4>映画</h4>
    <p>LGBTQを題材とした映画をいくつか紹介します！他にもおすすめがあれば、教えてください♪</p>
    <div class="movie">
        <div class="choice_movie">
            <p>チョコレートドーナツ</p>
            <iframe width="350" height="200" src="https://www.youtube.com/embed/QVWY5ETc11k" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="choice_movie">
            <p>キッズ・オールライト</p>
            <iframe width="350" height="200" src="https://www.youtube.com/embed/HQHpxXuCVLw" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

        <div class="choice_movie">
            <p>バオバオ  フツウの家族</p>
            <iframe width="350" height="200" src="https://www.youtube.com/embed/OaZOHoayVm4" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

        <div class="choice_movie">
            <p>おいしい家族</p>
            <iframe width="350" height="200" src="https://www.youtube.com/embed/HVTqXc8Ais8" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

        <div class="choice_movie">
            <p>彼らが本気で編む時は</p>
            <iframe width="350" height="200" src="https://www.youtube.com/embed/-Y_K6rnCuB0" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

        <div class="choice_movie">
            <p>パレードへようこそ</p>
            <iframe width="350" height="200" src="https://www.youtube.com/embed/-HF2mVCELws" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>

        <!-- ユーチューブ -->
        <h4> youtube </h4>
        <p>LGBTQをテーマにしたYouTubeです！！</p>
        <div class="youtube">
        <div class="choice_youtube">
            <p>同性愛者だって子供が欲しい！同性カップルが子供を授かる方法</p>
            <iframe width="350" height="200" src="https://www.youtube.com/embed/EGuxaH-Oljk" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="choice_youtube">
            <p>ママ2人と息子1人「私たちが子供を授かった方法</p>
            <iframe width="350" height="200" src="https://www.youtube.com/embed/lTgw_0CC_WA" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

        <div class="choice_youtube">
            <p>僕にはパパが2人いる」ゲイカップルと息子くんの話！</p>
            <iframe width="350" height="200" src="https://www.youtube.com/embed/OV2W6loDgJg" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

     <h5>おすすめ絵本一覧</h5>

    <div class="choice_youtube">
        <p>いろいろいろんなかぞくのほん</p>
        <a
            href="https://www.amazon.co.jp/%E3%81%84%E3%82%8D%E3%81%84%E3%82%8D-%E3%81%84%E3%82%8D%E3%82%93%E3%81%AA-%E3%81%8B%E3%81%9E%E3%81%8F%E3%81%AE-%E3%83%A1%E3%82%A2%E3%83%AA-%E3%83%9B%E3%83%95%E3%83%9E%E3%83%B3/dp/4879816299/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=DRF62CJP183&dchild=1&keywords=%E3%81%84%E3%82%8D%E3%81%84%E3%82%8D%E3%81%84%E3%82%8D%E3%82%93%E3%81%AA%E3%81%8B%E3%81%9E%E3%81%8F%E3%81%AE%E3%81%BB%E3%82%93&qid=1590284114&sprefix=%E3%81%84%E3%82%8D%E3%81%84%E3%82%8D%E3%81%84%E3%82%8D%E3%82%93%E3%81%AA%2Caps%2C409&sr=8-1">
            <img width="250" height="350" src="../static/img/いろいろいろんなかぞくのえほん.png" alt=""></a>
    </div>

    <div class="choice_youtube">
        <p>タンタンタンゴはパパふたり</p>
        <a width:350px; hight:;
            href="https://www.amazon.co.jp/%E3%82%BF%E3%83%B3%E3%82%BF%E3%83%B3%E3%82%BF%E3%83%B3%E3%82%B4%E3%81%AF%E3%83%91%E3%83%91%E3%81%B5%E3%81%9F%E3%82%8A-%E3%82%B8%E3%83%A3%E3%82%B9%E3%83%86%E3%82%A3%E3%83%B3-%E3%83%AA%E3%83%81%E3%83%A3%E3%83%BC%E3%83%89%E3%82%BD%E3%83%B3/dp/478080115X/ref=pd_bxgy_img_3/355-3118620-4335207?_encoding=UTF8&pd_rd_i=478080115X&pd_rd_r=1608bb93-edc1-49ca-8ac1-c544e817f938&pd_rd_w=BuDpt&pd_rd_wg=btoqi&pf_rd_p=f9b7301a-70fe-4140-bc13-8df64a58b673&pf_rd_r=0GQ8NBCZ1B8VFA3GBVMD&psc=1&refRID=0GQ8NBCZ1B8VFA3GBVMD">
            <img width="400" height="350" src="../static/img/タンタンタンゴ.jpg" alt=""></a>
    </div>

    <div class="choice_youtube">
        <p>いろいろかぞく  トッドのえほん</p>
        <a
            href="https://www.amazon.co.jp/%E3%81%84%E3%82%8D%E3%81%84%E3%82%8D%E3%81%8B%E3%81%9E%E3%81%8F%E2%80%95%E3%83%88%E3%83%83%E3%83%89%E3%81%AE%E3%81%88%E3%81%BB%E3%82%93-%E3%83%88%E3%83%83%E3%83%89-%E3%83%91%E3%83%BC%E3%83%AB/dp/457703154X/ref=sr_1_5?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=DRF62CJP183&dchild=1&keywords=%E3%81%84%E3%82%8D%E3%81%84%E3%82%8D%E3%81%84%E3%82%8D%E3%82%93%E3%81%AA%E3%81%8B%E3%81%9E%E3%81%8F%E3%81%AE%E3%81%BB%E3%82%93&qid=1590284114&sprefix=%E3%81%84%E3%82%8D%E3%81%84%E3%82%8D%E3%81%84%E3%82%8D%E3%82%93%E3%81%AA%2Caps%2C409&sr=8-5">
            <img width="350" height="350" src="../static/img/いろいろかぞく.jpg" alt=""></a>
    </div>

    <h5>おすすめ記事一覧</h5>
    <div class="choice_youtube">
        <p>LGBTの子育て研究に関する論文を読んでみた</p>
        <a href="https://lgbt-life.com/topics/yse6/"><img width="350" height="200" src="../static/img/記事1img.png"
                alt=""></a>
    </div>
    <div class="choice_youtube">
        <p>トランスジェンダー・ゲイ・ママ「親３人育児」始めました</p>
        <a href=" https://st.benesse.ne.jp/ikuji/content/?id=35613"> <img width="350" height="200"
                src="../static/img/記事2img.png" alt=""></a>
    </div>

    <div class="choice">

    </div>
    <div class="choice">

    </div>
    </div>
</div>

  





    <!-- フッター -->
    <footer class="page-footer pink lighten-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
                        content.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://sunabaco.com/">SUNABACO</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://kodomap.org/">こどまっぷ</a></li>
                        <li><a class="grey-text text-lighten-3" href=" http://pinkdot-okinawa.com">ピンクドット沖縄</a></li>
                        <li><a class="grey-text ext-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © すなぷろ5th（翁長、川満、上原）
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
   
</body>



</html>